.sc-navbar .navbar-brand,
.sc-navbar .navbar-brand:hover,
.sc-navbar .navbar-brand:focus,
.sc-navbar .navbar-brand:active,
.sc-navbar .navbar-brand.active {
    color: #ffffff;
}
.sc-navbar a {
    color: #ffffff;
    background-color: transparent
}
.sc-navbar .navbar-header button {
    color: #ffffff;
}
.sc-navbar {
    background-color: #551A8B;
    border-color: transparent;
}
@media (min-width: 768px) {
	.sc-navbar {
		background-color: transparent;
		padding: 0 100px;
		border: none;
    }
}

header{
    background: linear-gradient(
        rgba(102,51,153, 0.45),
        rgba(102,51,153, 0.45)
    ), url('../public/assets/office.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #ffffff;
}
header .header-text {
	padding-top: 100px;
	padding-bottom: 50px;
}
header .header-text .title {
	font-size: 20px;
	margin-bottom: 10px;
}
header .header-text .btn.sc-learn-more {
    background-color: #551A8B;
    color: ffffff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
}
@media (min-width: 768px) {
	header .header-text {
		padding: 100px 150px 200px;
	}
	header .header-text .title {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
}

#contact.sc-contact {
	background-image: none;
}
section h2.section-heading {
		text-transform: initial;
}

#redefine, .clients{
		background-color: #551A8B;
}

#services, #contact {
		background-color: #333333;
}

#team {
		background-color: #ffffff;
}

#footer {
		background-color: #111111;
}

.sc-white-text {
		color: white;
}
sc-black-text {
		color: black;
}

.sc-subheading {
		padding-left: 200px;
		padding-right: 200px;
}

.sc-image {
	width: 200px;
}
