.sc-header {
    /*background: linear-gradient(
      rgba(102,51,153, 0.45),
      rgba(102,51,153, 0.45)
    ), url('../public/assets/office.jpeg');*/
    background: linear-gradient(
      rgba(102,51,153, 0.45),
      rgba(102,51,153, 0.45)
    ), url('../public/assets/office.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.sc-header .intro-text .sc-intro-lead-in {
    font-size: 18px;
}

@media (min-width: 768px) {
  .sc-header .intro-text .intro-lead-in {
    font-size: 30px;
  }
}
