.sc-white-text {
    color: white;
}
sc-black-text {
    color: black;
}
.sc-purple-text {
    color: #551A8B;;
}
.sc-lite-purple-text {
    color: purple;
}

.sc-navbar .navbar-brand,
.sc-navbar .navbar-brand:hover,
.sc-navbar .navbar-brand:focus,
.sc-navbar .navbar-brand:active,
.sc-navbar .navbar-brand.active {
    color: #ffffff;
}
.sc-navbar a {
    color: #ffffff;
    background-color: transparent
}
.sc-navbar .navbar-header button {
    color: #ffffff;
}
.sc-navbar {
    background-color: #551A8B;
    border-color: transparent;
}
@media (min-width: 768px) {
	.sc-navbar {
		background-color: transparent;
		padding: 0 100px;
		border: none;
    }
}

header{
    background: linear-gradient(
        rgba(102,51,153, 0.45),
        rgba(102,51,153, 0.45)
    ), url('../public/assets/office.jpeg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #ffffff;
}
header .header-text {
	padding-top: 100px;
	padding-bottom: 50px;
}
header .header-text .title {
	font-size: 20px;
	margin-bottom: 10px;
}
header .header-text .btn.sc-btn-header {
    background-color: #551A8B;
    color: ffffff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
}
@media (min-width: 768px) {
	header .header-text {
		padding: 100px 150px 200px;
	}
	header .header-text .title {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px;
	}
}

#redefine .sc-section-body {
    text-align: center;
}
#redefine .sc-section-body .sc-btn-redefine {
    background-color: transparent;
    color: #ffffff;
}
@media (min-width: 768px) {
	#redefine {
        padding: 40px;
    }
    #redefine .sc-section-body {
        text-align: left;
    }
}

#contact form .form-group .form-control{
    background: #333333;
    border: transparent;
}
#contact .sc-btn-submit {
    background-color: transparent;
    color: #777777;
    border-color: #777777;
}

section {
    padding: 40px 40px 20px;
}
.section-subtitle {
    padding: 0 30px;
    margin-bottom: 60px;
}
.section-body {
    padding: 0 30px 30px;
}
@media (min-width: 768px) {
    .section-subtitle {
        padding: 0 150px;
    }
    .section-body {
        padding: 0 30px;
        margin-bottom: 40px;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid white;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
    padding: 20px
}

aside.clients img {
    height: 20px;
    margin: 10px auto
}

#redefine, .clients{
    background-color: #551A8B;
}

#services, #contact {
    background-color: #222222;
}

#team {
    background-color: #ffffff;
}

#footer {
    background-color: #111111;
}

.sc-image {
    width: 200px;
}
